<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/firebase")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-main")
    @Scripts.Render("~/bundles/angular-maintenance")
</head>
<body ng-app="gasanApp">

    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <div class="navbar-brand" ng-controller="LogoController as vmLogo">
                    <a href="/">
                        <img id="municipality-logo" class="img-circle" alt="No Image" style="height:50px;margin-top:-20%">
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- main menu -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <div class="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li> 
                        <li>@Html.ActionLink("General Profile", "Index", "GeneralProfile")</li>                 
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("Announcements", "Index", "Announcements")</li>
                        <li>@Html.ActionLink("Officials", "Index", "Officials")</li>
                        <li>@Html.ActionLink("Contact Us", "Index", "Contacts")</li>
                        <li>@Html.ActionLink("Login", "Index", "UserAccount")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>@Html.ActionLink("Profile", "Index", "Home")</li>
                                    <li><a href="#" onclick="logoutOnClick()">LOGOUT</a></li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
    <div>
        <br /><br /><br /><br />
        @RenderBody()
    </div>
    

    <script src="@Url.Content("/Scripts/Config/settings.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("/Scripts/Main/admin_account.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
